<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DietRecordInfoMapper">

    <!-- 分页查询饮食记录 -->
    <select id="queryDietRecordPage" resultType="java.util.LinkedHashMap">
        select
        dri.id,
        dri.user_id,
        dri.dishes_id,
        dri.heat,
        dri.protein,
        dri.fat,
        dri.create_date,
        di.name as dishesName,
        di.images as dishesImages,
        di.heat,
        di.protein,
        di.fat,
        ui.name as userName,
        ui.code as userCode,
        ui.images as userImages
        from
        diet_record_info dri
        left join dishes_info di on
        (di.id = dri.dishes_id)
        left join user_info ui on
        (ui.id = dri.user_id)
        where
        1 = 1
        <if test="dietRecordInfo.dishesName != null and dietRecordInfo.dishesName != ''">
            AND di.name LIKE CONCAT('%',#{dietRecordInfo.dishesName},'%')
        </if>
        <if test="dietRecordInfo.userName != null and dietRecordInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{dietRecordInfo.userName},'%')
        </if>
        <if test="dietRecordInfo.userId != null and dietRecordInfo.userId != ''">
            AND ui.user_id = #{dietRecordInfo.userId}
        </if>
        order by
        dri.create_date desc
    </select>
</mapper>
